@import url("classic.css");
@import url("admons.css");
@import url("semantic.css");
@import url("draft.css");

/* adendum for layout */

div.document {
    background-color: #d1d3d4;
    background: #d1d3d4; /* Old browsers */
    background: -moz-linear-gradient(left, #d1d3d4 0, #d1d3d4 350px, white 351px, white 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d1d3d4), color-stop(350px,#d1d3d4), color-stop(351px,white), color-stop(100%,white)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #d1d3d4 0%,#d1d3d4 350px, white 351px,white 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #d1d3d4 0%,#d1d3d4 350px,white 351px,white 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #d1d3d4 0%,#d1d3d4 350px, white 351px, white 100%); /* IE10+ */
    background: linear-gradient(to right, #d1d3d4 0%, #d1d3d4 350px, white 351px, white 100%); /* W3C */
}

div.bodywrapper {
    margin: 0 0 0 350px;
    background-color: #FFFFFF;
}

div.body {
    margin: 0 20px;
    padding: 0;
    font-size: 90%;
}

div.body h1 {
    background-color: #878786;
    padding: 59px 0 49px 20px;
    display: block;
    height: 26px;
}

div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    padding-left: 19px;
}

a.headerlink {
    vertical-align: top;
}

div.sphinxsidebar {
}

div.sphinxsidebarwrapper .caption-text {
   font-weight: bold;
}

div.sphinxsidebarwrapper {
    margin :0;
    padding :0 10px 40px 41px;
}

div.sphinxsidebarwrapper li {
    margin-top: 2ex;
}

div.sphinxsidebarwrapper li a {
    line-height: 1.0;
}

div.sphinxsidebarwrapper p.logo {
    background-color: #878786;
    margin: 0 -10px 0 -41px;
    display: block;
    height: 134px;
}

div.sphinxsidebarwrapper p.logo a img {
    margin: 52px 0 0 41px;
}

div.sphinxsidebar h3 {
    margin-top: 36px;
}

div.sphinxsidebar ul {
    margin-left: 0;
}

/* adendum for styles */

code {
    font-size: 1.1em;
    font-family: monospace;
    padding: 0 2px;
}

div.body h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: white;
    letter-spacing: 0;
    text-transform: uppercase;
}

div.sphinxsidebar h3 a,
div.sphinxsidebar h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    }

div.sphinxsidebar p,
div.sphinxsidebar a {
    font-weight: normal;
    line-height: 32px;
    color: #333;
}

div.sphinxsidebar p.searchtip {
    line-height: 1em;
}

div.sphinxsidebar input {
    font-weight: normal;
    border: 1px solid #444444;
}

div.sphinxsidebar #searchbox input[type="text"] {
    width: 170px;
    padding-left: 2px;
}

div.sphinxsidebar #searchbox input[type="submit"] {
    background-color: #CE1126; /* CZ.NIC Red */
    /* background-color: #CF2F44; FRED Red */
    box-sizing: content-box;
    min-width: 2em;
    padding-left: 2px;
    padding-right: 2px;
    text-transform: uppercase;
    width: auto;
}

/* Table settings */
table {
   margin-bottom: 2ex;
}

table caption {
   padding: 2px 0 4px 0;
}

table .caption-text {
   font-weight: bold;
}

th {
   background-color: #D1D3D4;
}

/* Code-block caption */
div.code-block-caption {
   background-color: #878786;
}

.code-block-caption .caption-text {
   /*font-weight: bold;*/
}

/* Caption */
p.caption .caption-text {
   font-weight: bold;
}

/* Emphasize current topic in sidebar menu */
li.current > a, a.current {
   color: #555555;
   font-weight: bold!important;
}

.align-bottom {
   vertical-align: bottom;
}

.align-top {
   vertical-align: top;
}

.float-left {
   float: left;
}

p {
   clear: both;
}
